ul.checklist {
	list-style: none;
	margin-left: 1em;
	text-indent: -1em;
}

.checklist li:before {
	content: '□ ';
}

.checklist li.done:before {
	content: '✓ ';
}

.checklist li.failed:before {
	content: '✕ ';
}
