.transition{
	.transition(all);
}

.transition-opacity{
	.transition(opacity);
}

.transition-background{
	.transition(background-color);
}

.transition-color{
	.transition(color);
}

.transition-color-background{
	.transition-custom(opacity .25s ease, background-color .25s ease);
}
