{{define "menu"}}
<div class="col-md-9 col-sm-6 col-xs-7">
    <nav class="right helper">
        <ul class="menu sf-menu js-menu">
            <li>
                <a href="projects">Projects</a>
            </li>
            <li>
                <a href="references">References</a>
            </li>
{{if .auth}}
            <li>
                <a href="rankings">Rankings</a>
            </li>
            <li>
                <a href="challenge">Challenge</a>
            </li>
{{if .teacher}}
            <li>
                <a href="book">Grade Book</a>
            </li>
{{end}}
            <li>
                <a href="#">{{.student}}</a>
                <ul>
                    <li>
                        <a href="password">Change Password</a>
                    </li>
                    <li>
                        <a href="alias">Change Alias</a>
                    </li>
                    <li>
                        <a href="ssh">Register SSH Key</a>
                    </li>
                    <li>
                        <a href="remove">Remove Account</a>
                    </li>
                    <li>
                        <a href="logout">Sign out</a>
                    </li>
                </ul>
            </li>
{{else}}
            <li>
              <a href="register">Register</a>
            </li>
            <li>
              <a href="reset">Reset Password</a>
            </li>
            <li>
              <a href="login">Sign in</a>
            </li>
{{end}}
        </ul>
    </nav>
</div>
{{end}}
