{{define "reset3"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<title>Aquinas: Password Reset</title>
<script>
    window.location.replace('/login');
</script>
</head>
<body>
<input type="hidden" name="job-uuid" value="{{.uuid}}"/>
Please <a href="/login">click here</a>
</body>
</html>
{{end}}
